alembic==1.13.1
boto3==1.34.99
botocore==1.34.99
cfgv==3.4.0
colorlog==6.8.2
distlib==0.3.8
filelock==3.14.0
greenlet==3.0.3
identify==2.5.36
iniconfig==2.0.0
jmespath==1.0.1
joblib==1.4.2
Mako==1.3.3
MarkupSafe==2.1.5
nodeenv==1.8.0
numpy==1.26.4
optuna==3.6.1
packaging==24.0
pandas==2.2.2
platformdirs==4.2.1
pluggy==1.5.0
pre-commit==3.7.1
pytest==8.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
ruff==0.4.3
s3transfer==0.10.1
scikit-learn==1.4.2
scipy==1.13.0
setuptools==69.5.1
six==1.16.0
SQLAlchemy==2.0.30
threadpoolctl==3.5.0
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.2
xgboost==2.0.3
